main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}


img {
    max-width: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}
